
nav {
    display: flex;
    background-color: white;
    color: black;
    justify-content: space-between;
    padding-left: 25px;
    padding-bottom: 0px;
    height: 15vh;
    width: 100%;
}

nav img {
    height: 15vh;
}

.nav_links_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #4b4b4b;
    font-size: .75em;
}

.ig_container {
    display: flex;
    margin-right: 25px;
}

h1, h2, p {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}


nav h2 {
    margin-top: auto;
    margin: 0;
    font-size: 1.5em;
    color: #4b4b4b;
}

nav span {
    margin-top: auto;
    margin: 0;
    margin-bottom: -5px;
}

#bread_carousel {
    width: 100%;
}

#bread_carousel img {
    height: auto;
    max-width: 100%;
    max-height: 500px;
}

#art_caption h1 {
    font-size: 4em !important;
}

.ig_below_container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px;
}

#hasi_handle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#hasi_big_opener {
    display: flex;
    justify-content: center;
    padding: 25px;
}

#hasi_big_opener h2 {
    font-size: 3em;
}

.full_width_flex_container {
    display: flex;
    width: 100%;
    justify-content: center;
}

#hasi_opening_description {
    padding: 15px;
    display: flex;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;
}

#hasi_opening_description p {
    font-size: 1.25em;
}

#origin_container {
    padding-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

#origin_description_container {
    padding-left: 35px;
    max-width: 40%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#origin_description_container p {
    font-size: 1.25em;
}

#featured_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    margin-left: -20px;
}


#origin_video {
    padding-right: 35px;
    max-height: 300px;
    margin: 0;
}

#fade_to_white {
    max-height: 600px;
}

#more_than_bread_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin-left: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(238, 238, 238);
}

.full_flex_space_between {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    height: 15vh;
    justify-content: center;
}

#trademark_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* only for small devices*/
@media (max-width: 768px) {
    .nav_links_container {
        display: none;
    }

    #hasi_handle i, h2{
        font-size: 1.5em;
    }

    #hasi_big_opener h2 {
        font-size: 1.5em;
    }

    #hasi_opening_description {
        padding: 0px;
        width: 80%;
    }

    #hasi_opening_description p {
        font-size: 1em;
    }

    #origin_container {
        padding-top: 0px;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    #origin_description_container {
        max-width: 80%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #origin_description_container p {
        font-size: 1em;
    }

    #origin_video {
        padding: 0;
        min-height: 300px;
    }

    #origin_description_container {
        max-width: 95%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #featured_container {
        display: none;
    }

    #key_photo {
        margin-top: 50px;
        width: 100%;
        background-image: url("./img/surfsimply_mobile.jpg");
        min-height: 300px;
        padding: 0;
        background-repeat: no-repeat;
    }

    #origin_video {
        max-height: 300px;
        margin: 0;
        width: 100%;
    }

    #fade_to_white {
        display: none;
    }

    #more_than_bread_description {
        text-align: center;
        width: 90%;
        margin-right: 45px;
    }

 }

 /*only for large devices*/
 @media (min-width: 768px) {
    #key_photo {
        margin-top: 50px;
        width: 100%;
        max-height: 600px;
        background-image: url("./img/bread.jpg");
        min-height: 500px;
    
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
 }

















