.btn-outline-primary {
    color: black !important;
    border-color: black !important;
}

.btn-outline-primary:hover {
    color: white !important;
    background-color: black !important;
    border-color: grey;
}

.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem grey !important;
}

nav {
    display: flex;
    background-color: transparent;
    color: black;
    justify-content: space-between;
    padding-left: 0px;
    padding-bottom: 0px;
    height: 30vh;
    width: 100%;
}

nav h2, span, img {
    cursor: pointer;
}

nav img {
    height: 100%;
    margin-left: 30px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: black;
    text-decoration: none;
}

.nav_links_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-size: .75em;
}

.ig_container {
    display: flex;
    margin-right: 50px;
}

h1, h2, p {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}


nav h2 {
    margin-top: auto;
    margin: 0;
    font-size: 2vw;
    color: black;
}

nav span {
    margin-top: auto;
    margin: 0;
    margin-bottom: -2px;
    color: black;
}

#bread_carousel {
    width: 100%;
}

#bread_carousel img {
    height: auto;
    max-width: 100%;
    max-height: 500px;
}


#art_caption h1 {
    font-size: 4em !important;
}

.ig_below_container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px;
}

#hasi_handle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#hasi_big_opener {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-weight: 800;
}

#hasi_big_opener h2 {
    font-size: 3vw;
    letter-spacing: 2.5px;
}

.full_width_flex_container {
    display: flex;
    width: 100%;
    justify-content: center;
}

#hasi_opening_description {
    padding: 15px;
    display: flex;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;
}

#hasi_opening_description p {
    font-size: 1.25vw;
}

#origin_container {
    padding-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

#origin_description_container {
    padding-left: 35px;
    max-width: 40%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#origin_description_container p {
    font-size: 1.5vw;
}

#featured_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    margin-left: -20px;
}


#origin_video {
    padding-right: 35px;
    height: 50vh;
    margin: 0;
}

#fade_to_white {
    height: 100vh;
}

#more_than_bread_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40vw;
    margin-left: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(238, 238, 238);
    font-size: 1.75vw;
}


#more_than_bread_description h2 {
    font-size: 2.5vw;
}

#more_than_bread_description button {
    width: 25%;
    font-size: 1vw;
}


.full_flex_space_between {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    height: 15vh;
    justify-content: center;
    font-size: 1.5vw;
}

#trademark_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.flex_centered {
    justify-content: center;
}

.flex_end {
    justify-content: flex-end;
}

.flex_around {
    justify-content: space-around;
}

.title_section {
    height: 75vh;
}

#natural_color h1, span {
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    line-height: 42px;
    font-size: 2.5vw;
    font-weight: lighter;
    letter-spacing: 3px;
}

#natural_color span {
    color: #55bcc9;
}

#o_color {
    color: #55bcc9;
}

.section_title {
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    color: #333;
    line-height: 42px;
    font-size: 2.5vw;
    font-weight: lighter;
    letter-spacing: 3px;
}

.full_width {
    width: 100%;
}

.half_width {
    width: 50%;
}

.light_bottom_border {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(238, 238, 238);
}

#key_photo {
    margin-top: 50px;
    background-image: url("./img/bread.jpg");
}

#home_photo {
    background-image: url("./img/home_landing.jpg");
    height: 100vh;
}

#about_landing_photo {
    background-image: url("./img/about.jpg");
    background-position: top;
    height: 100vh;
}

#color_photo {
    background-image: url("./img/colored_bread.jpg");
}

#colored_bread_2 {
    background-image: url("./img/colored_bread_2.jpg");
}

#colored_bread_3 {
    background-image: url("./img/colored_bread_3.jpg");
}

#freshly_milled_2 {
    background-image: url("./img/freshly_milled_2.jpg");
    background-position: bottom;
}

#freshly_milled_3 {
    background-image: url("./img/bread.jpg");
}

#fermentation_2 {
    background-image: url("./img/fermentation_2.jpeg");
}

#fermentation_3 {
    background-image: url("./img/fermentation_3.jpg");
}

#tradition_2 {
    background-image: url("./img/tradition_2.jpeg");
}

#tradition_3 {
    background-image: url("./img/tradition_3.jpeg");
}

#tradition_photo {
    background-image: url("./img/tradition.jpg");
}

#fermentation_photo {
    background-image: url("./img/fermentation.jpg");
}
#freshly_milled_photo {
    background-image: url("./img/freshly_milled.jpg");
}

#about_photo {
    height: 40vh;
}

#peeking_hasi {
    height: 40vh;
    cursor: initial;
}

.left_img_grid {
    height: 29.5vw;
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: .5vw;
    margin-right: .25vw;
    margin-left: .25vw;
    margin-top: 0;
}

.right_img_grid {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: .5vw;
    margin-right: .25vw;
    margin-left: .25vw;
}

.top_right_img_grid {
    height: 19.5vw;
    /*background-attachment: fixed;*/
}

.bottom_right_img_grid {
    height: 39.5vw;
}

.pad_top_sm {
    padding-top: 10px;
}

.pad_top_md {
    padding-top: 25px;
}

.pad_top_lg {
    padding-top: 50px;
}

.pad_bot_sm {
    padding-bottom: 10px;
}

.pad_bot_md {
    padding-bottom: 25px;
}

.pad_bot_lg {
    padding-bottom: 50px;
}

.margin_bot_sm {
    margin-bottom: 10px !important;
}
.pillar_container {
    width: 60%;
}

#hamburger {
    display: none;
}

#bottom_tab_bar {
    display: none;
}

#pillars {
    flex-direction: row;
}

#pillar_values h1{
    margin-bottom: 3vw;
}

#peeking_mobile_container {
    display: none;
}

#peeking_hasi_mobile {
    display: none;
}

#mobile_links_container {
    display: none;
}

#we_are_4_purpose h1 {
    letter-spacing: 2px;
    font-size: 3vw;
}

.pillar_paragraph {
    font-size: 1.5vw;
}


/* only for small devices*/
@media (max-width: 768px) {

    .title_section {
        height: 50vh;
    }

    .left_img_grid {
        height: 295px;
        /*background-attachment: fixed;*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 5px;
        margin-right: 2.5px;
        margin-left: 2.5px;
        margin-top: 0;
    }
    
    .right_img_grid {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 5px;
        margin-right: 2.5px;
        margin-left: 2.5px;
    }
    
    .top_right_img_grid {
        height: 195px;
        /*background-attachment: fixed;*/
    }
    
    .bottom_right_img_grid {
        height: 395px;
    }

    .pillar_paragraph {
        font-size: 3vw;
    }

    #we_are_4_purpose h1 {
        letter-spacing: 2px;
        font-size: 6vw;
    }

    #natural_color h1, span {
        font-size: 5vw;
    }

    .section_title {
        font-size: 5vw;
    }

    nav {
        height: 25vh;
        margin: 0;
        justify-content: center;
    }

    #mobile_links_container {
        display: flex;
    }

    nav img {
        margin: 0;
        margin-top: 10px;
    }

    .nav_links_container {
        display: none;
    }

    .pillar_container {
        width: 90%;
    }

    #about_landing_photo {
        height: 600px;
        background-image: url(./img/about_mobile.jpg);
        background-position: center;
    }

    #about_photo {
        height: 25vh;
    }

    #pillar_values {
        margin-bottom: 35px;
    }

    #pillar_values h1{
        margin-bottom: 25px;
    }

    #pillars {
        flex-direction: column;
    }

    #peeking_hasi {
        display: none;
    }

    #peeking_mobile_container {
        display: flex;
    }

    #peeking_hasi_mobile {
        display: block;
        max-height: 175px;
        max-width: 175px;
    }

    .ig_container {
        display: none;
    }

    .nav_links_container {
        padding-right: 5px;
    }

    .big_parallax {
        margin: 0;
        width: 100%;
        height: 400px;
    }

    #key_photo {
        margin-top: 50px;
        background-image: url("./img/bread_mobile.jpg");
    }
    
    #home_photo {
        background-image: url("./img/home_landing_mobile.jpg");
        background-position: center;
        height: 600px;
    }
    
    #color_photo {
        background-image: url("./img/colored_bread_mobile.jpg");
    }
    
    #tradition_photo {
        background-image: url("./img/tradition_mobile.jpg");
    }
    
    #fermentation_photo {
        background-image: url("./img/fermentation_mobile.jpg");
    }
    #freshly_milled_photo {
        background-image: url("./img/freshly_milled_mobile.jpg");
    }

    #colored_bread_2 {
        background-image: url("./img/colored_bread_2_mobile.jpg");
    }

    #colored_bread_3 {
        background-image: url("./img/colored_bread_3_mobile.jpg");
    }

    #freshly_milled_2 {
        background-image: url("./img/freshly_milled_2_mobile.jpg");
        background-repeat: no-repeat;
    }

    #freshly_milled_3 {
        background-image: url("./img/bread_mobile.jpg");
        background-repeat: no-repeat;
    }

    #fermentation_2 {
        background-image: url("./img/fermentation_2_mobile.jpeg");
        background-repeat: no-repeat;
    }

    #fermentation_3 {
        background-image: url("./img/fermentation_3_mobile.jpg");
        background-repeat: no-repeat;
    }

    #tradition_2 {
        background-image: url("./img/tradition_2_mobile.jpeg");
        background-repeat: no-repeat;
    }

    #tradition_3 {
        background-image: url("./img/tradition_3_mobile.jpeg");
        background-repeat: no-repeat;
    }

    #hasi_handle i, h2{
        font-size: 1.5em;
    }

    #hasi_big_opener h2 {
        font-size: 1.5em;
    }

    #hasi_opening_description {
        padding: 0px;
        width: 80%;
    }

    #hasi_opening_description p {
        font-size: 1em;
    }

    #origin_container {
        padding-top: 0px;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    #origin_description_container {
        max-width: 80%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #origin_description_container p {
        font-size: 1em;
    }

    #origin_video {
        padding: 0;
        min-height: 300px;
    }

    #origin_description_container {
        max-width: 95%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #featured_container {
        display: none;
    }

    #key_photo {
        margin-top: 50px;
        width: 100%;
        background-image: url("./img/bread_mobile.jpg");
        min-height: 300px;
        padding: 0;
        background-repeat: no-repeat;
    }

    #origin_video {
        max-height: 300px;
        margin: 0;
        width: 100%;
    }

    #fade_to_white {
        display: none;
    }

    #more_than_bread_description {
        margin-top: 25px;
        text-align: center;
        width: 90%;
        margin-right: 45px;
    }

    #more_than_bread_description button {
        width: inherit;
        font-size: inherit;
    }

    #get_bread_container {
        justify-content: center;
    }

 }

 /*only for large devices*/
 @media (min-width: 768px) {
    .big_parallax {
        margin: 0;
        width: 100%;
        height: 80vh;
    
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .little_parallax {
        margin: 0;
        width: 50%;
        height: 300px;
    
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

 }

















